h1 {
    font-family: "Helvetica", sans-serif;
}
h2 {
    margin: 0;
}
body {
    background-color: #fefae0;
    font-family: "Franklin Gothic Medium", sans-serif;
    margin: 0;
    padding: 0;
}
.home-title {
    font-family: 'Papyrus', fantasy;
    font-size: 2em;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #bc6c25;
    text-decoration: none;
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #606c38;
}
header {
    background-color: rgba(20,30,13, .7);
}
nav a{
    padding: 35px;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.book, .join {
    background-color: #dda15e;
    color: #bc6c25;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
.book:hover {
    background-color: #bc6c25;
    color: black;
}
.join:hover {
    background-color: #bc6c25;
    color: black;
}
.jennifer-card {
    margin: 200px 0;

}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.msg {
    background-color: #606c38;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
    padding-bottom: 15px;
}
footer {
    background-color: #dda15e;
    color: black;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer .socaial img{
    padding-top: 15px;
}
footer a:hover {
    color: #bc6c25;
}
footer p a:hover {
text-decoration: underline;
}
.home-title {
    color: #606c38;
    margin-top: 10px;
}
h4 {
    color: black;
}
#logo_link{
    padding-top: 5px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}